.right.menu > .icon.button {
  display: none !important;
}

@media screen and (max-width:950px){
  .right.menu > .icon.button {
    display: block !important;
  }
}

.active.item {
  background: none !important;
}

.item.active::before,
.right.menu .item:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  opacity: 1;
  border-bottom: 3px solid var(--primary);
}
