:root {
  --primary: #00b1dd;
}

@import './typography.css';
@font-face {
  font-family: 'gotham-bold';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/gotham-bold-webfont.woff2'); 
}
@font-face {
  font-family: 'gotham-light';
  font-style: normal;
  font-weight: light;
  src: url('/fonts/gotham-light-webfont.woff2'); 
}
@font-face {
  font-family: 'gotham-book';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/gotham-book-webfont.woff2'); 
}

body, a, p, small, h1, h2, h3, h4, h5, span {
  font-family: 'gotham';
}

h1, h2, h3, h4, h5 {
  font-family: 'gotham-light', serif; 
}

.menu a{
  font-family: Calibri, "Lucida Sans Unicode", sans-serif;
  
}

.bigtitle {
  font-size: 41px;
  font-weight: 400;
  padding: 25px auto;
}

* {
  margin: 0;
  padding: 0;
}

.video__container {
  height: 45vw;
  overflow: hidden;
}

.video__container .ui.embed {
  margin-top: -7vw;
}