/* html {
  scrollbar-color: var(--primary) #00b1dd36;
}
::-webkit-scrollbar {
  background-color: #00b1dd36;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
body * {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #00b1dd36;
  box-sizing: border-box;
}
body *::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
body *::-webkit-scrollbar-thumb {
  background-color: #1a8cff;
} */