:root {
  /* Increase or decrease the number 
  to change the vertical spacing globally*/
    
  /* Base Vertical Spacing */
      --space: 1.6;
  
  /* Vertical Spacing - multiplier */
      --vspace: calc(var(--space) * 1rem);
      --vspace-0: calc(3 * var(--space) * 1rem);
      --vspace-1: calc(2 * var(--space) * 1rem);
      --vspace-2: calc(1.5 * var(--space) * 1rem);
      --vspace-3: calc(0.5 * var(--space) * 1rem);
  }
  
  html {font-size: 16px;}
  
  body {
      font-size: 0.875em;
      margin: 0 auto;
  }
  
  p {
      margin: var(--vspace) 0; 
      line-height: var(--vspace);
  }
  
  h1 {
      margin: var(--vspace-1) 0 var(--vspace-1) 0;
      line-height: calc(5.2917/var(--space)* var(--vspace));
  }
  
  h2 {
      margin: var(--vspace-2) 0 var(--vspace-3) 0;
      line-height: 1em;
  }
  
  h3 {
      margin: var(--vspace-1) 0 var(--vspace-3) 0;
      line-height: 1em;
  }
  
  h4, h5, h6 {
      margin: var(--vspace-2) 0 var(--vspace-3) 0;
      line-height: var(--vspace);
  }
  
  .bigtitle, h1 {
      font-size: 5.2917em;
      word-break: break-word;
  }

  .bigtitle.lead {
    color: var(--primary);
  }

  .lead {
      font-size: 1rem;
  }
  
  
  .title, h2 {
      font-size: 2.6458em; 
      font-weight: lighter; 
      word-break: break-word;
  }
  
  .subheading1, h3 {
      font-size: 1.75em;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: .1em;
  }
  
  blockquote {
      font-size: 1em;        
      font-style:italic; 
      line-height: calc(1*var(--vspace));
      margin: var(--vspace-2) var(--vspace-2);
  }
  
  .subheading2, h4 {
      font-size: 1.3333em;
      text-transform: capitalize;
  }
  
  .subheading3, h5 {
      font-size: 1.1667em; 
      font-weight: lighter; 
      text-transform: uppercase; 
      letter-spacing: .15em;
  }
  
  .subheading4, h6 {
      font-size: 1em;
      font-weight: normal;
      font-style: italic;
      font-family: "le-monde-livre-classic-byol",serif !important;
      letter-spacing: 0px!important;
  }
  
  .caption_ts {
      font-size: 0.7708em;
      font-weight: normal;
      font-style: italic;
  }
  
  .endnote_ts {font-size: 0.7708em;}
  
  .footnote_ts {
    margin: var(--vspace-0) 0 var(--vspace-2) 0;
    font-size: 0.6667em;  
    border-top: 1px solid #ccc;
    line-height: 2em;
  }
  
  sup { 
      font-size: 0.6667rem;
      margin: .5em; 
      text-transform: none;
      font-style: italic;
      font-weight: normal;
  }